<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | My Website</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

    <header>
        <img src="images/logo.svg" width="200" alt="Website logo">
        <h1>Demo Site</h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <p><a href="#">CIS515Projects</a></p>
    </header>

    <main>
        <h1>About This Website</h1>

        <p>Table goes here.</p>
    </main>

    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>

</body>
</html>