<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | My Website</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

    <header>
        <img src="images/logo.svg" width="200" alt="Website logo">
        <h1 id="header-title">Demo Site</h1>
        <p><a href="index.html">Home</a> | <a href="about.html">About</a> | <a href="contact.html">Contact</a></p>
        <p><a href="#">CIS515Projects</a></p>
    </header>

    <main class="content">
        <h1>Welcome to My Website</h1>

        <p>
            This website demonstrates the foundation of a multi-page HTML website.
        </p>
    </main>

    <footer class="content">
        <p>&copy; 2025 My Website</p>
    </footer>

</body>
</html>